<!--create simple home page with title, 2 images, and 2 paragraphs-->
<div class="text-center">
    <h1 class="display-4">Welcome to Sonic Skiing!</h1>
    <img src="~/lib/img/mainSkiing.jpg" alt="mainSki" width="50%" />
    <p>Skiing is the best way to stay fit and outdoors in the winter! Skiing is a thrilling and exhilarating sport that has captured the hearts of outdoor enthusiasts for generations. Whether on alpine slopes, cross-country trails, or through powder-filled backcountry, skiing offers a unique blend of adventure and skill.</p>
    <img src="~/lib/img/skiFriends.jpeg" alt="secondSki"/>
    <p>Beyond the thrill, skiing also fosters a sense of community, with people from all walks of life gathering at ski resorts or local slopes to enjoy the shared experience of the mountain. Après-ski culture, the social activities that follow a day on the slopes, is an integral part of the experience, often featuring cozy firesides, hot chocolate, and lively gatherings with friends and family. Skiing is not only a physical challenge but also an opportunity to connect with nature and build lasting memories. </p>
</div>

<!--create simple home page with title, 2 images, and 2 paragraphs-->